.page.theme_light {
  --primary-color: #ffc2e6;
  --secondary-color: #ff8dcb;
  --accent-color: #f1b2ce;
  --secondary-accent-color: #ff0070;
  --text-color: #353430;
  --hover-color: #32312d66;
  --bg-light-color: #fff1f7;
  --bg-img: var(--bg-img-light);
}

.page.theme_light .header__decoration {
  opacity: 0;
}

.page.theme_light .title__decor {
  background-color: var(--bg-light-color: #fff1f7);
  background-image: var(--bg-img-light);
}

.page.theme_light .decorated-zone::before {
  border-block-start: 0.1rem solid var(--text-color, #353430);
  border-inline-end: 0.1rem solid var(--text-color, #353430);
}

.page.theme_light .decorated-zone::after {
  border-block-end: 0.1rem solid var(--text-color, #353430);
  border-inline-start: 0.1rem solid var(--text-color, #353430);
}

.page.theme_light .header__theme-menu-item {
  color: var(--text-color, #353430);
}

.page.theme_light .header__title {
  color: var(--primary-color, #ffc2e6);
  text-shadow: 0.4rem 0.4rem 0 var(--secondary-color, #ff8dcb);
}

.page.theme_light .text-decor {
  color: var(--text-color, #353430);
}

.page.theme_light .main {
  background-color: var(--bg-light-color, #fff1f7);
}

.page.theme_light .main__title {
  color: var(--text-color, #353430);
}

.page.theme_light .footer {
  background-color: var(--bg-light-color, #fff1f7);
}

.page.theme_light .footer__title {
  color: var(--primary-color, #ffc2e6);
  text-shadow: 0.2rem 0.2rem 0 var(--secondary-color, #ff8dcb);
}

@media (width >= 1024px) {
  .page.theme_light .header__title {
    text-shadow: 0.4rem 0.4rem 0 var(--secondary-accent-color, #ff0070);
  }

  .page.theme_light .footer__title {
    color: var(--primary-color, #ffc2e6);
    text-shadow: 0.2rem 0.2rem 0 var(--secondary-accent-color, #ff0070);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #ffc2e6;
    --secondary-color: #ff8dcb;
    --accent-color: #f1b2ce;
    --secondary-accent-color: #ff0070;
    --text-color: #353430;
    --hover-color: #32312d66;
    --bg-light-color: #fff1f7;
    --bg-img: var(--bg-img-light);
  }

  :root .title-decor {
    background-color: var(--bg-light-color, #fff1f7);
  }

  :root .header__decoration {
    opacity: 0;
  }

  :root .decorated-zone::before {
    border-block-start: 0.1rem solid var(--text-color, #353430);
    border-inline-end: 0.1rem solid var(--text-color, #353430);
  }

  :root .decorated-zone::after {
    border-block-end: 0.1rem solid var(--text-color, #353430);
    border-inline-start: 0.1rem solid var(--text-color, #353430);
  }

  :root .header__theme-menu-item {
    color: var(--text-color, #353430);
  }

  :root .header__title {
    color: var(--primary-color, #ffc2e6);
    text-shadow: 0.4rem 0.4rem 0 var(--secondary-color, #ff8dcb);
  }

  :root .text-decor {
    color: var(--text-color, #353430);
  }

  :root .main {
    background-color: var(--bg-light-color, #fff1f7);
  }

  :root .main__title {
    color: var(--text-color, #353430);
  }

  :root .footer {
    background-color: var(--bg-light-color, #fff1f7);
  }

  :root .footer__title {
    color: var(--primary-color, #ffc2e6);
    text-shadow: 0.2rem 0.2rem 0 var(--secondary-color, #ff8dcb);
  }

  @media (width >= 1024px) {
    :root .header__title {
      text-shadow: 0.4rem 0.4rem 0 var(--secondary-accent-color, #ff0070);
    }

    :root .footer__title {
      color: var(--primary-color, #ffc2e6);
      text-shadow: 0.2rem 0.2rem 0 var(--secondary-accent-color, #ff0070);
    }
  }
}
