.page {
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, 'Courier New', monospace);
  font-size: 1.8rem;
  font-weight: normal;
  max-inline-size: 37.5rem;
}

.header {
  display: grid;
  padding-block: 1rem;
  padding-inline: 1rem;
}

.decorated-zone::before {
  position: relative;
  display: block;
  block-size: 2.5rem;
  border-block-start: 0.1rem solid var(--secondary-color, #ff0070);
  border-inline-end: 0.1rem solid var(--secondary-color, #ff0070);
  content: '';
  inline-size: 2.5rem;
  inset-inline-start: calc(100% - 2.6rem);
}

.decorated-zone::after {
  position: relative;
  display: block;
  block-size: 2.5rem;
  border-block-end: 0.1rem solid var(--secondary-color, #ff0070);
  border-inline-start: 0.1rem solid var(--secondary-color, #ff0070);
  content: '';
  inline-size: 2.5rem;
}

.header__decoration {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--secondary-color, #ff0070);
  gap: 1rem;
  inset-block-start: -2.4rem;
  inset-inline-end: 0.9rem;
}

.header__decoration::after {
  display: block;
  border-radius: 50%;
  background-color: var(--secondary-color, #ff0070);
  block-size: 0.9rem;
  content: '';
  filter: drop-shadow(0 0 0.4rem var(--secondary-color, #ff0070));
  inline-size: 0.9rem;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  color: var(--secondary-color, #ff0070);
  padding-block-start: 1.6rem;
}

.header__theme-menu-button_active {
  opacity: 0.4;
  pointer-events: none;
}

.header__theme-menu-list {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.header__theme-menu-item {
  border-block-end: 0.1rem solid transparent;
}

.header__theme-menu-item:focus {
  outline: none;
}

.header__theme-menu-item:focus-within {
  border-block-end: 0.1rem solid currentColor;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  padding-inline: 1.3rem;
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 0.1rem solid var(--hover-color, #ff007066);
}

.header-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  padding-block-end: 3.1rem;
  padding-block-start: 6.7rem;
}

.header__title {
  color: var(--accent-color, #db00ff);
  font-size: clamp(11.6rem, 11.2183rem + 1.0178vw, 12rem);
  line-height: 9.57rem;
  text-shadow: 0.4rem 0.4rem 0 var(--secondary-color, #ff0070);
}

.text-decor {
  background-color: var(--secondary-color, #ff0070);
  color: var(--primary-color, #000028);
  font-weight: bold;
  line-height: 2.34rem;
}

.text-line-break {
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color, #000028);
  gap: 5rem;
  padding-block: 4rem;
  padding-inline: 1rem;
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__title {
  color: var(--secondary-color, #ff0070);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.34rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article__title {
  font-size: 1.8rem;
}

.article_title-decor {
  font-weight: normal;
}

.article__hyperlink {
  text-shadow: 0.2rem 0.2rem 0 var(--secondary-color, #ff0070);
}

.article__hyperlink:hover {
  border-block-end: 0.1rem solid var(--text-color, #f1b2ce);
  cursor: pointer;
}

.article__hyperlink:focus {
  outline: none;
}

.article__hyperlink:focus-visible {
  outline: 0.1rem solid var(--text-color, #f1b2ce);
}

.article__text {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.34rem;
}

.image-gallery {
  gap: 1rem;
}

.article__image-wrapper {
  display: flex;
}

.image-gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: contain;
  object-position: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color, #000028);
  min-block-size: 66.7rem;
  padding-block: 1rem;
  padding-inline: 1rem;
}

.footer__title {
  align-self: center;
  color: var(--accent-color, #db00ff);
  font-size: 11.6rem;
  font-weight: bold;
  line-height: 9.57rem;
  text-shadow: 0.2rem 0.2rem 0 var(--secondary-color, #ff0070);
}

@media (width >= 768px) {
  .page {
    max-inline-size: 76.8rem;
  }

  .header {
    padding-block: 2rem;
    padding-inline: 2rem;
  }

  .header__theme-menu {
    padding-block-start: 12.3rem;
  }

  .header-inner-wrapper {
    gap: 16.1rem;
    padding-block-end: 13.8rem;
    padding-block-start: 17.5rem;
  }

  .header__title {
    position: relative;
    font-size: 12rem;
    inset-inline-start: -2rem;
    line-height: 9.9rem;
  }

  .header__text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-inline-size: 36.4rem;
  }

  .main {
    gap: 8rem;
    padding-block: 6rem;
    padding-inline: 2rem;
  }

  .main__title {
    grid-row: span 2;
    inline-size: 23.6rem;
  }

  .section-concentrate {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .section-concentrate-tips {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .section-concentrate-tips__title {
    grid-row: span 6;
  }

  .article__image {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .img-sunset {
    grid-area: sunset;
  }

  .img-icecream {
    grid-area: icecream;
  }

  .img-tape {
    grid-area: tape;
  }

  .img-books {
    grid-area: books;
  }

  .img-street {
    grid-area: street;
  }

  .image-gallery {
    gap: 2rem;
  }

  .image-gallery-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-areas:
      'sunset sunset icecream'
      'tape books icecream'
      'tape street street';
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    min-block-size: 102.4rem;
    padding-block: 2rem;
    padding-inline: 2rem;
  }

  .footer__title {
    font-size: 12rem;
    line-height: 9.9rem;
  }
}

@media (width >= 1024px) {
  .page {
    max-inline-size: 102.4rem;
  }

  .header__theme-menu {
    position: relative;
    justify-content: center;
    inset-block-start: -4.9rem;
    padding-block: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header-inner-wrapper {
    gap: 11.3rem;
    padding-block-end: 9rem;
    padding-block-start: 22.6rem;
  }

  .header__title {
    font-size: 15.7rem;
    inset-inline-start: -2rem;
    line-height: 12.9525rem;
  }

  .header__text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    min-inline-size: 49.1rem;
  }

  .main__title {
    inline-size: 31.5rem;
  }

  .concentrate-peeve {
    grid-column: span 3;
  }

  .img-street {
    aspect-ratio: 641.7 / 428;
    padding-block-start: 0.5rem;
  }

  .section-concentrate-peeve {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    min-block-size: 76.8rem;
  }

  .footer__title {
    font-size: 15.7rem;
    line-height: 12.9rem;
  }
}
